.search-product{
    margin-top: 80px;
}
.search-product .item-list{
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.search-product .item-list .top-line{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.search-product .item-list .cover img{
    width: 300px;
    height: 300px;
    transition: all 0.8s ease-in-out;
}
.search-product .item-list .cover img:hover{
    transform: scale(1.08);
}
.search-product .item-list .product-title{
    font-size: 30px;
}
.search-product .item-list .product-description{
    padding-top: 20px;
    padding-bottom: 20px;
}
.search-product .item-list .text-description{
    font-size: 13px;
    padding-bottom: 30px;
}

.search-product .item-list .rare-find-price{
    display: flex;
    justify-content: space-between;
}